@charset "UTF-8";

.ftco-section {
  padding: 7em 0;
  position: relative; }
  
@media (max-width: 767.98px) {
    .ftco-section {
      padding: 6em 0; } }
.bg-light {
  background-color: #f8f9fa !important; }
  
a.bg-light:hover, a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
  background-color: #dae0e5 !important; }
  
 button.bg-light:hover,
button.bg-light:focus {
  background-color: #dae0e5 !important; }
  
.bg-light {
  background: #f8f9fa !important; }
button.bg-light:hover,
button.bg-light:focus {
  background-color: #dae0e5 !important; }
  
.ftco-animate {
  opacity: 0;
  visibility: hidden; }
  
.staff {
  overflow: hidden;
  margin-bottom: 30px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .staff .img {
    height: 200px;
    width: 200px;
    display: block;
    background-position: top center;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
    border-radius: 50%;
    margin: 0 auto;
    border: 10px solid #f8f9fa; }
    .staff .img:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fff;
      content: '';
      opacity: 0;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }

 .staff .text {
    position: relative;
    background: #fff;
    padding: 110px 20px 20px 20px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: -100px;
    z-index: -1; }
    .staff .text h3 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 0;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .staff .text .position {
      color: #299adc;
      display: block;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 14px; }
    .staff .text .faded {
      opacity: 1; }
  .staff .ftco-social {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .staff .ftco-social li a {
      width: 34px;
      height: 34px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      color: #299adc; }
  .staff:hover .text, .staff:focus .text {
    background: #299adc;
    color: rgba(255, 255, 255, 0.8); }
    .staff:hover .text h3, .staff:focus .text h3 {
      color: #fff; }
    .staff:hover .text .position, .staff:focus .text .position {
      color: #fff; }
  .staff:hover .ftco-social li a, .staff:focus .ftco-social li a {
    border-color: rgba(255, 255, 255, 0.3);
    color: #fff; }

.align-items-stretch {
  -webkit-box-align: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important; }
  
img {
  vertical-align: middle;
  border-style: none; }

img {
    page-break-inside: avoid; }

.img,
.blog-img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.align-self-stretch {
  -ms-flex-item-align: stretch !important;
  -ms-grid-row-align: stretch !important;
  align-self: stretch !important; }

.text-center {
  text-align: center !important; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

 
